<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Tasks</title>
  {% include "core/shared_links.html" %}
</head>
<body>
  {% include "core/navbar.html" %}
<div class="container">
<div class="jumbotron">
  <h1>Tasks</h1>
  {% if not table_data %}
  </p>There are no tasks defined.</p>
  {% else %}
  <div class="custom-control custom-checkbox">
    <form action="/tasks/"method="POST" >
      {% csrf_token %}
      {{ hide_completed_form_data.as_p }}
    </form>
  </div>
  <table table class="table table-hover table-dark">
    <tr>
      <th>Description</th>
      <th>Category</th>
      <th>Completed</th>
      <th>Action</th>
    </tr>
    {% for row in table_data %}
    <tr>
      <td>{{ row.description }}</td>
      <td>{{ row.category }}</td>
      <td>
        <a href="?toggle_completed={{row.id}}">
          {% if row.is_completed %}Yes{% else %}No{% endif %}
        </a>
      </td>
      <td>
        <form action="/edit/{{row.id}}" method="POST"> 
        {{ editrow.as_p }}
        {% csrf_token %}
		 <a href="{%url 'tasks_edit'%}?e_id={{row.id}}">
        <input type="button" action="/edit/"class="btn btn-info"  value = "Edit"/>
	 </form>
   </td>
   <td>
    <a class="btn btn-primary" href="#" onclick="confirmDeleteModal({{row.id}})">Delete</a>
   </td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>
    <form method="GET" action="/tasks/add/">
      <input type="submit" class="btn btn-primary" value = "Add Task">
    </form>
  </div>
  </div>


  <!-- Modal -->
  <div id="deleteModal" class="modal fade" role='dialog'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Delete Task</h4>
        </div>
        <div class="modal-body">
          <p>Do you really want to delete this task?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <span id= 'deleteButton'></span>
        </div>
      </div>
    </div>
  </div>
  <!--Modal ends here--->

</body>
</html>
